$color-text: $color-light;
$color-icon: $color-light;
$color-border: $color-light;

$font-size: clamp(40px, 3.64vw, 70px);
$font-size-md: clamp(20px, 8.54vw, 40px);

$border-thick: 3px;
$border: $border-thick solid $color-border;

$transition-duration: 0.3s;

$icon-width: 50px;
$icon-width-md: 44px;
$icon-width-sm: 21px;

$icon-thick: 4px;
$icon-thick-md: 3px;
$icon-thick-sm: 2px;

.accordion {
  &__item {
    border: $border;
    border-left: 0;
    border-right: 0;

    &:not(:first-of-type) {
      border-top: 0;
    }
  }

  &__header {
    margin: 0;
  }

  &__btn {
    position: relative;
    background-color: transparent;
    border: 0;
    padding-right: $icon-width * 2;
    width: 100%;
    font-size: $font-size;

    text-align: left;
    text-transform: uppercase;
    color: $color-text;

    &:before,
    &:after {
      content: "";
      height: $icon-thick;
      width: $icon-width;
      background-color: $color-icon;
      transition: transform $transition-duration ease-out;
      position: absolute;
      top: calc(50% - $icon-thick / 2);
      right: 0;
    }

    &.collapsed {
      &:before {
        transform: rotate(-180deg);
      }

      &:after {
        transform: rotate(-90deg);
      }
    }
  }

  &__collapse {
    transition: all $transition-duration ease-out;
    overflow: hidden;
    box-shadow: $color-border 0px 0px - $border-thick 0px 0px;
    max-height: 0;
  }
}

@media (max-width: 768px) {
  .accordion {
    &__btn {
      font-size: $font-size-md;

      &:before,
      &:after {
        content: "";
        height: $icon-thick-md;
        width: $icon-width-md;
      }
    }
  }
}

@media (max-width: 360px) {
  .accordion {
    &__btn {
      padding-right: $icon-width-sm + 14px;

      &:before,
      &:after {
        content: "";
        height: $icon-thick-sm;
        width: $icon-width-sm;
      }
    }
  }
}
