$collapse-btn-length: 50px;
$collapse-btn-width: 4px;

.accordion {
  &__title {
    position: relative;
    padding-right: $collapse-btn-length + 20px * 2;
  }

  &__btn {
    position: absolute;
    top: calc(50% - $collapse-btn-width / 2);
    right: 10px;
    background-color: transparent;
    width: $collapse-btn-length;
    height: $collapse-btn-width;
    border: 0;
    cursor: pointer;

    &:before {
      content: "";
      height: $collapse-btn-width;
      width: 100%;
      background-color: $color-light;
      position: absolute;
      top: calc(50% - $collapse-btn-width / 2);
      left: 0;
    }
    &:after {
      content: "";
      height: $collapse-btn-width;
      width: 100%;
      background-color: $color-light;
      transform: rotate(90deg);
      transition: all 0.3s ease-out;
      position: absolute;
      top: calc(50% - $collapse-btn-width / 2);
      left: 0;
    }
  }

  &.active &__btn {
    &:after {
      transform: rotate(180deg);
    }
  }
}
