$tab-item-margin: 20px;

.job {
  position: relative;

  &__body {
    max-width: 900px;
    margin: 0 auto;
    padding: 70px 0;
  }

  &__experience {
    display: flex;
    flex-direction: column;
    line-height: 0.7;
    position: absolute;
    left: 0;
    font-size: clamp(20px, 1.19vw, 23px);

    span {
      &:first-child {
        margin-bottom: 1.56vw;
        font-size: 5.4em;
      }
    }
  }

  &__description {
    font-size: 30px;
    line-height: 130%;
  }

  &__tabs {
    &__nav {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      margin: 100px 0 90px 0;
      max-width: 100vw;
      overflow: auto;
    }

    &__link {
      font-family: DrukWide, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 22px;
      line-height: 2;
      color: rgba($color-light, 0.8);
      letter-spacing: 0.44px;
    }
  }

  &__qualification {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px;

    &__item {
      max-width: calc(50% - $tab-item-margin * 2);
      padding: 24px 0;
      color: rgba($color-light, 0.8);
      border-top: 2px solid $color-dark;
      width: 100%;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;

    width: 100%;
    margin-top: 73px;

    &__icon {
      width: 30px;
    }
  }
}

@media (max-width: 1200px) {
  .job {
    &__experience {
      position: relative;
    }

    &__description {
      font-size: 22px;
      display: flex;
      justify-content: space-between;
      gap: 30px;
      flex-wrap: wrap;

      p {
        max-width: 336px;
      }
    }
  }
}

@media (max-width: 768px) {
  .job {
    &__body {
      max-width: none;
    }

    &__experience {
      font-size: clamp(16px, 1.04vw, 20px);
    }

    &__tabs {
      &__nav {
        margin: 90px 0 65px 0;
      }

      &__link {
        font-size: 18px;
      }
    }

    &__button {
      gap: 15px;
      margin-top: 58px;
      font-size: clamp(13.255px, 0.69vw, 22px);
      padding: clamp(10px, 0.88vw, 17px);
    }

    &__qualification {
      gap: 40px;

      &__item {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 360px) {
  .job {
    &__description {
      font-size: 22px;
      p {
        max-width: none;
      }
    }

    &__tabs {
      &__nav {
        margin: 50px 0 40px 0;
      }

      &__link {
        font-size: 12px;

        &:nth-child(2) {
          order: 2;
        }
      }
    }

    &__qualification {
      flex-direction: column;
      gap: 20px;

      &__item {
        max-width: none;
        font-size: 16px;
      }
    }
  }
}
