.careers {
  &__title {
    font-family: DrukWide, Arial, sans-serif;
    text-transform: uppercase;

    padding-top: 33px;
    padding-bottom: 33px;
  }
}

@media (max-width: 768px) {
  .careers {
    &__title {
      font-size: clamp(20px, 5.2vw, 40px);
    }
  }
}

@media (max-width: 360px) {
  .careers {
    &__title {
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }
}
